<style>
.panel-heading a,a:hover,a:active {
    font-weight:bold;
    text-decoration: none;
}
</style>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#city_clg">City and College</a>
            </div>
            <div class="panel-body list-group collapse" id="city_clg">
                <a href="/college/city_add" class="list-group-item">Add new City</a>
                <a href="/college/add" class="list-group-item">Add new College</a>
                <a href="/view/cities" class="list-group-item">View all cities</a>
                <a href="/view/colleges" class="list-group-item">View all colleges</a>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#user">User Database</a>
            </div>
            <div class="panel-body list-group collapse" id="user">
                <a href="/view/users" class="list-group-item">View user list</a>
                <a href="/user/edit" class="list-group-item">Find and Edit user details</a>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#cl">CL functions</a>
            </div>
            <div class="panel-body list-group collapse" id="cl">
                <a href="/view/clusers" class="list-group-item">View CL list</a>
                <a href="/cl/edit" class="list-group-item">Select/Remove CL for college</a>
                <a href="/cl/password" class="list-group-item">Give password to CL</a>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#compi">Competitions</a>
            </div>
            <div class="panel-body list-group collapse" id="compi">
                <a href="/view/competitions" class="list-group-item">View Competition list</a>
                <a href="/compi/add" class="list-group-item">Add Competition</a>
                <a href="/compi/reg" class="list-group-item">View/Edit Registrations</a>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#acco">Accomodation</a>
            </div>
            <div class="panel-body list-group collapse" id="acco">
                <a href="/view/acco_request" class="list-group-item">View all Acco list</a>
                <a href="/acco/cl_requests" class="list-group-item">Acco Requests by CL</a>
                <a href="/acco/group_requests" class="list-group-item">Acco Requests by Group</a>
            </div>
        </div>
    </div>
</div>
